.container {
    width: 100%;
}

.nav {
    padding: 0 60px;
}

.container {
    margin-top: 25px;
}

#searchResultsContent {
    padding: 20px 60px;
}

.delimiter {
    border-right: 1px solid #dddddd;
}

h2{
    font-size: 18px;
}

.tab-content {
    padding-top: 30px;
}

#mashup {
    padding-top: 30px;
}

.more-down {
    padding-top: 40px;
}

footer{
    height: 40px;
    bottom: 0px;
}

.youtube {
    background-color: #000;
    cursor: pointer;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
    border-color: #eee #ddd #bbb;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 5px #999;
}


.youtube .thumb {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0.8;
    transition: all 200ms ease-out 0s;

}

.youtube .thumb:hover{
    transform: scale(1.1,1.1);
}

.youtube .play{
    background-image: url('../media/play.png');
    height: 77px;
    left: 50%;
    margin-left: -38px;
    margin-top: -38px;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    width: 77px;
}

#mashup-videos-panel .youtube{
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

#mashup-videos-youtube-tab .youtube{
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.mashup-images-panel-element{
     height: 140px;
     width: 200px;
     position: relative; float: left;
     animation: fadein 1s;
     -moz-animation: fadein 1s; /* Firefox */
     -webkit-animation: fadein 1s; /* Safari and Chrome */
     -o-animation: fadein 1s; /* Opera */
     margin-right: 10px;
     margin-bottom: 10px;
     border: solid 1px #EFEFEF;
     overflow: hidden;
     -moz-box-shadow: 1px 1px 5px #999;
     -webkit-box-shadow: 1px 1px 5px #999;
     box-shadow: 1px 1px 5px #999;
 }

.tab-images-panel-element{
    height: 160px;
    width: 240px;
    position: relative; float: left;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid 1px #EFEFEF;
    overflow: hidden;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.image-info {display: none;}
.image-info-active-mashup { height: 140px; width: 200px; background: rgba(255,255,255,.85); }
.image-info-active-tab {height: 160px; width: 240px; background: rgba(255,255,255,.85); }
p.top {background: #fff; padding: 5px; margin: 0; word-wrap: break-word; word-break: break-all; }

#mashup-map, #videos-map, #images-map, #stories-map {
    width: 100%;
    height: 300px;
}

.twitterLoginBtn{
    margin: 0 auto;
    padding-top: 5px;
    padding-right: 20px;
    opacity: 0.7;
}

.twitterLoginBtn:hover{
    opacity: 1.0;
}

.twitterLoginBtn:active{
    padding-top: 6px;
}
