.container {
    width: 100%;
}

.nav {
    padding: 0 60px;
}

.container {
    margin-top: 25px;
}

#searchResultsContent {
    padding: 20px 60px;
}

.delimiter {
    border-right: 1px solid #dddddd;
}

h2{
    font-size: 18px;
}

.tab-content {
    padding-top: 30px;
}

.more-down {
    padding-top: 40px;
}

footer{
    height: 40px;
}