.container {
    width: 90%;
}

#left-side-widget {
    width: 20%;
    height: 90%;
    float: left;
}

#left-side-widget .panel{
    height: 100%;
}

#right-side-widget {
    width: 20%;
    float: right;
}

#right-side-widget .panel{
    height: 100%;
}

#front-content{
    margin-top: 10%;
    float: left;
    width: 60%;
}

#logo{
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
    width: 140px;
    height: 100px;
    text-shadow: 0 1px 5px #777;
}

.logo-first {
    float: left;
    color: #eee;
}

.logo-second {
    float: left;
    color: #ffcc66;
}

#search{
    margin-top: 30px;
    margin: 0 auto;
    width: 75%;
}

#search-box {
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 2px;
}

#search-box .row .col-sm-2 {
    padding-left: 0px;
    padding-right: 15px;
}

#search-box .row .col-sm-10 {
    padding-right: 3px;
}

#short-description {
    margin-top: 30px;
    text-align: center;
}

.clear{
    clear: both;
}

footer{
    background: none repeat scroll 0 0 #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    width: 100%;
}

.footer-util{
    position: absolute;
    bottom: 0;
}

footer #credentials{
    padding-left: 25px;
    width: 50%;
    float: left;
}

footer #navigation-links{
    padding-left: 25px;
    width: 50%;
    float: left;
}

.col-sm-10 {
    width: 86.33333333%;
}

.col-sm-2 {
    width: 13.66666667%;
}

.navbar-left {
    width: 40%;
}

.navbar-collapse {
    background: linear-gradient(90deg, #eee 10%, #ffcc66 90%) repeat scroll 0 0 #24c6dc;
}

.form-control:focus{
    border-color: #ffcc66;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(255, 158, 47, 0.5);
}

